
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #f3f4f7;
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}


.container {
    width: 900px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.10);
}

/* Title */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.btn-primary {
    display: inline-block;
    padding: 10px 16px;
    background: linear-gradient(45deg, #4169E1, #6A5ACD);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #2c52d4, #5240c7);
}


.btn-secondary {
    display: inline-block;
    padding: 10px 16px;
    background: #d7ddff;
    color: #3547ff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: #c6ceff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table th {
    background: #4169E1;
    color: white;
    padding: 12px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

table tr:hover td {
    background: #eef3ff;
}

.action-btn a{
    color: #4169E1;
    font-weight: 600;
    text-decoration:none;
    margin-right: 10px;
}


